:root {
    --pad: max(20px, 4vmin);
}

* {
    font-family: 'Gabarito', sans-serif;
    user-select: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: 100;
    vertical-align: baseline;
    text-decoration: none;
    background: transparent;
}

body {
    width: 100%;
    height: 100%;
}

#Page {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--c-bg);
}

/*MASK*/

.mask {
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.mask_top {
    top: 0;
}

.mask_bottom {
    bottom: 0;
}

.mask_top, .mask_bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--pad);
}

/*FRAME*/

.frame {
    z-index: 1;
    left: var(--pad);
    right: var(--pad);
    top: var(--pad);
    bottom: var(--pad);
    mix-blend-mode: difference;
}

.frame-line {
    position: absolute;
    background-color: #FFF;
    opacity: .2;
    transition: opacity 1s, height 0.5s, width 0.5s, top 0.5s, left 0.5s;
}

#Page:hover .frame-line{
    opacity: 0.8;
}

.frame-line-left {
    left: 0;
    top: 0;
    width: 1px;
    height: 50%;
}

#Page:hover .frame-line-left {
    top: 50%;
    height: 50%;
}

.frame-line-right {
    right: 0;
    top: 50%;
    width: 1px;
    height: 50%;
}

#Page:hover .frame-line-right {
    top: 0;
    height: 50%;
}

.frame-line-top {
    left: 0;
    top: 0;
    width: 50%;
    height: 1px;
}

#Page:hover .frame-line-top {
    left: 50%;
    width: 50%;
}

.frame-line-bottom {
    left: 50%;
    bottom: 0;
    width: 50%;
    height: 1px;
}

#Page:hover .frame-line-bottom {
    left: 0;
    width: 50%;
}

/*HEADER*/

.main-header {
    z-index: 10;
    left: calc(var(--pad) * 2);
    top: calc(var(--pad) * 2);
}

.main-header .main-header-title {
    cursor: default;
    font-size: 50px;
    text-wrap: nowrap;
    transition: all 0.5s;
}

.main-header .main-header-subtitle {
    cursor: default;
    font-size: 15px;
    text-wrap: nowrap;
}

.main-header-nav {
    margin-top: 50px;
    list-style: none;
}

.nav-text {
    cursor: pointer;
    color: #000;
    mix-blend-mode: difference;
    transition: opacity 0.5s;
}

.nav-text:hover {
    opacity: 0.5;
}

/*SELECTED*/
.is-selected {
    display: none;
}

/*Main Content*/

.content {
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    mix-blend-mode: difference;
}

.content-inner {
    position: relative;
    min-height: 100%;
}

/*PAGE*/

.page {
    display: none;
    width: 100%;
    min-height: calc(var(--vh, 1vh)*100);
}

.page-content {
    color: #FFF;
    font-size: 15px;
    position: absolute;
    right: calc(var(--pad)*2);
    bottom: calc(var(--pad)*2);
    white-space: nowrap;
}

.home-about-me {
    line-height: 1.5;
}

.project-header {
    font-size: 30px;
}

.project-subheader {
    font-size: 15px;
}

.project-link {
    margin-top: 10px;
}

.link {
    cursor: pointer;
    color: #FFF;
    opacity: 1;
    transition: opacity 0.5s;
}

.link:hover {
    opacity: 0.5;
}

/*CONTENT*/

section[data-page=""] {
    display: block;
    opacity: 1;
}














.pos-fixed {
    position: fixed !important;
}

.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.black-text {
    color: #000000 !important;
}

.white-text {
    color: #FFFFFF !important;
}
