@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: "Spline Sans Mono", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.main .page {
  scroll-snap-align: start;
}

.navbar {
  transition: all 0.5s ease;
}

#light {
  transition: all 1s ease;
  background-color: #FCC88F;
  /* background-color: #FFF; */
}

#dark {
  transition: all 1s ease;
  background-color: #10193C;
  /* background-color: #000; */
}

#light .navbar {
  transition: all 1s ease;
  background-color: #FCC88F;
  box-shadow: 0px 0px 40px 40px #FCC88F; 
}
#dark .navbar {
  transition: all 1s ease;
  background-color: #10193C;
  box-shadow: 0px 0px 40px 40px #10193C;
}

@keyframes pop-in {
  0% { transform: scale(0.8); opacity: 0; transform: translateY(50%);}
  50% { transform: scale(1.1); }
  100% { transform: scale(1); opacity: 1; transform: translateY(0%);}
}

.pop-in {
  animation:pop-in 0.5s;
}

#toggle {
  min-width: 150px;
}

#dark .mode-toggle {
  content:url("./assets/MOON.png");
}
#light .mode-toggle {
  content:url("./assets/SUN.png");
}
#dark #currentMode:after {
  content: "dark theme";
}
#light #currentMode:after {
  content: "light theme";
}


@layer base {
  #dark * {
    @apply text-white;
  }
  #light * {
    @apply text-black;
  }
  #dark .mode-toggle {;
  }
  #light .mode-toggle {
  }
  .page {
    @apply h-dvh pt-40;
  }
  h2 {
    @apply text-xl md:text-2xl lg:text-4xl;
  }
  h3 {
    @apply text-base md:text-lg lg:text-2xl;
  }
}